div.panel.panel-info
   ul.nav.nav-pills
       li
           a(href='/') Home
       if user
           li.pull-right
               form(action = "/logout", method = "post")
                   button(type='submit').btn.bg-success Log out
           li.pull-right
               a(href='/minify').btn.bg-success My links

       else
           li.pull-right
               a(href='/login').btn.bg-success Login
           li.pull-right
               a(href='/register').btn.bg-success Register

if user
    form(name='linkCreatorForm', method = "post", action = "/minify")
        .container-fluid.form-group
            .row
                .col-sm-12
                    label(for='longUrl') Paste your long URL here:
                .col-sm-10
                    input#longUrl.form-control.input-lg(required='', type='text', placeholder='long URL', name = "longUrl")
                .col-sm-2
                    button.btn.btn-danger.btn-lg(type='submit') Shorten URL
            if shortUrl
                .col-md-12
                    p Your short url #[a(href="#{baseUrl}/#{shortUrl}", target="_blank") #{baseUrl}#{"/"}#{shortUrl}]