doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script(src='http://code.jquery.com/jquery-latest.min.js', type='text/javascript')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js', type='text/javascript')
  body

    div.container
      include _navigation
      block content
