extends layout
block content
    .table-responsive
        table.table.table-bordered
            thead
                tr
                    th #
                    th Long URL
                    th Created
                    th Shot URL
                    th Clicks
            tbody
                if shortLinks
                    each shortLink, index in shortLinks
                        tr
                            td= index
                            td= shortLink.baseUrl
                            td= shortLink.createdAt
                            td
                                a(href="#{baseUrl}/#{shortLink.shortUri}", target="_blank") #{baseUrl}#{"/"}#{shortLink.shortUri}
                            td= shortLink.visits
