extends layout
block content
    h1.text-center= title
    form.form-horizontal(role='form', method='post', action="/register")
        .form-group
            label.col-sm-2.control-label(for='inputUserName') User name
            .col-sm-10
                input#inputUserName.form-control(type='text', placeholder='User name', name = "username")
        .form-group
            label.col-sm-2.control-label(for='inputEmail') Email
            .col-sm-10
                input#inputEmail.form-control(type='email', placeholder='Email', name = "email")
        .form-group
            label.col-sm-2.control-label(for='inputPassword') Password
            .col-sm-10
                input#inputPassword.form-control(type='password', placeholder='Password', name = "password")

        .form-group
            .col-sm-offset-2.col-sm-10
                button.btn.btn-primary(type='submit') Register
